	
<div class="row">	
	<div class="col-md-8 col-md-offset-2">
		
		<div class="page-header">
		  <h2>Posts</h2>
		  <% if user_signed_in? %>
				<%= link_to "Criar novo post", new_post_path, class: "btn btn-primary pull-right" %>
			<% end %>
		</div>

			<%= render 'all_posts' %>

		
	</div>
</div>


